// Colors
$darkblue: darkblue;
$iris-100: #5D5FEF;
$fuschia-100: #EF5DA8;
$light-gray: #F4F5F9;
$border-color: rgba(48, 62, 88, 0.5);
$divider-color: rgba(0, 0, 139, 0.1);

// Fonts
$pt-sans: 'PT Sans', sans-serif;
$bebas-neue: 'Bebas Neue', sans-serif;

// Dimensions
$desktop-width: 1440px;
$desktop-height: 1080px;
$circle-size: 530px;
$circle-radius: 265px;